/*Tournemaine Thibaut Keloglanian Nathan*/
@keyframes accueil{
    0%{
    	width:50%;
    	height:50%;
    	background-image: url("images/accueil.jpg");
    }
    33%{
    	width:50%;
    	height:50%;
    	background-image: url("images/renardredi.png");
    } 
 	66%{
 	width:50%;
 	height:50%;
 	background-image: url("images/lionr.png");
 	}
}
body{
	margin:0;
	padding:0;
	background-image:url("images/fond_jaune.png");
}

header{
	text-align:center;
	height:83px;
	grid-area:h;
	background-image:url("images/background.jfif");
	margin-bottom:2px;

}
header h1{
	position:absolute;
	left:42%;
	background-color:green;
	border-radius:10px;
}
#conteneur{
	display:grid;
	grid-template-rows:15% 60% 20%;
	grid-template-columns:3fr 40% 35%;
	grid-template-areas:"h h h"
						"n c c"
						"a t r";
}
.ici{
	background-color:#138A36;
}
nav{
	grid-area:n;
	width:100%;
	height:100%;
}
#menu{
	list-style-type: none; 
	margin: 0px;
	padding: 0px;
}

#menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
	display: none;
	width:30%;
}
#menu li {
	position: relative;
}
#menu a {
	display: block;
	text-align: center;
}
#menu li:hover ul {
	display: block ;
	position: absolute;
	top: 10px; 
	left: 210px;  
}
#menu ul li{
	border:solid 1px black;
	background-color:#7dc81e;
}
#menu ul li:hover{
	background-color:#18FF6D;
}
#menu ul li a{
	text-decoration:none;
	color:yellow;
}
nav ul li a:hover:not(.ici){
	background-color:#18FF6D;
}
nav>ul>li>a{
	text-align:center;
	font-size:105%;
	display:block;
	color:black;
	text-decoration:none;
	padding:29px;	
	height:150%;
	
}
nav>ul>li>a:last-child{
	border-bottom: none;
}
nav>ul{
  list-style-type: none;
  margin:0;
  padding:0;
  background-color:#04E824;
  overflow:hidden;
  border:solid black 1px;
  height:100%;
  border-radius:10px;
  box-shadow:1px 1px #285238;
}
nav>ul>li{
	position:relative;
	border-bottom:solid 2px black;

}
content h2,content h3{
	text-decoration:underline;
}

content{
	margin-left:3px;
	grid-area:c;
	float:left;
}
.picture:hover{
	animation-play-state:paused;
}
.picture{
	animation-name: accueil;
	animation-delay:0;
 	animation-duration: 8s;
 	animation-timing-function: linear;
 	animation-iteration-count: infinite;
 	animation-direction: alternate;
	margin-right:3px;
	margin-left:3px;
	width:50%;
	height:50%;
	float:left;
	background-image: url("images/accueil.jpg");
}
#Réseaux{
	margin-left:3px;
	margin-top:5px;
	grid-area:r;
	background:url("images/separateur.png") repeat-x top;
}
#Réseaux h2{
	text-decoration:underline;
}
#mentions{
	grid-area:t;
	background:url("images/separateur.png") repeat-x top;
	margin-top:5px;
}
#mentions h2{
	text-decoration:underline;
}
#mentions p{
	text-align:left;
}
#remonte{
	position:absolute;
	left:550px;
	top:800px;
}
#Nos_avis_presse{
	grid-area:a;
	background:url("images/separateur.png") repeat-x top;
	margin-top:5px;
}
#Nos_avis_presse h2{
	text-decoration:underline;
}